:root {
    --grass: #5fbd58;
    --bug: #92bc2c;
    --dark: #595761;
    --dragon: #0c69c8;
    --electric: #f2d94e;
    --fairy: #ee90e6;
    --fighting: #d3425f;
    --fire: #dc872f;
    --flying: #a1bbec;
    --ghost: #5f6dbc;
    --ground: #da7c4d;
    --ice: #75d0c1;
    --normal: #a0a29f;
    --poison: #b763cf;
    --psychic: #ff2ca8;
    --rock: #a38c21;
    --steel: #5695a3;
    --water: #539ddf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.cards-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    text-align: center;
}

.grass {
    background-color: --grass;
}

.bug {
    background-color: --bug;
}

.dark {
    background-color: --dark;
}

.dragon {
    background-color: --dragon;
}

.electric {
    background-color: --electric;
}

.fairy {
    background-color: --fairy;
}

.fighting {
    background-color: --fighting;
}

.fire {
    background-color: --fire;
}

.flying {
    background-color: --flying;
}

.ghost {
    background-color: --ghost;
}

.ground {
    background-color: --ground;
}

.ice {
    background-color: --ice;
}

.normal {
    background-color: --normal;
}

.poison {
    background-color: --poison;
}

.psychic {
    background-color: --psychic;
}

.rock {
    background-color: --rock;
}

.steel {
    background-color: --steel;
}

.water {
    background-color: --water;
}