:root {
    --grass: #5fbd58;
    --bug: #92bc2c;
    --dark: #595761;
    --dragon: #0c69c8;
    --electric: #f2d94e;
    --fairy: #ee90e6;
    --fighting: #d3425f;
    --fire: #dc872f;
    --flying: #a1bbec;
    --ghost: #5f6dbc;
    --ground: #da7c4d;
    --ice: #75d0c1;
    --normal: #a0a29f;
    --poison: #b763cf;
    --psychic: #ff2ca8;
    --rock: #a38c21;
    --steel: #5695a3;
    --water: #539ddf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.cards-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    width: 95%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 12rem;
    padding-block: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.pokemon-sprite {
    width: 9rem;
    z-index: 1;
    position: absolute;
}

.pokeball-img {
    width: 9rem;
    opacity: .5;
    animation: spin 3s infinite linear;
}

.pokedex-index {
    font-size: 1.75rem;
    font-weight: bold;
    background-color: #00000027;
    padding: .25rem 2rem;
    border-radius: .25rem;
}

.pokemon-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.pokemon-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pokemon-type {
    width: 2rem;
}

.grass {
    background-color: var(--grass);
}

.bug {
    background-color: var(--bug);
}

.dark {
    background-color: var(--dark);
}

.dragon {
    background-color: var(--dragon);
}

.electric {
    background-color: var(--electric);
}

.fairy {
    background-color: var(--fairy);
}

.fighting {
    background-color: var(--fighting);
}

.fire {
    background-color: var(--fire);
}

.flying {
    background-color: var(--flying);
}

.ghost {
    background-color: var(--ghost);
}

.ground {
    background-color: var(--ground);
}

.ice {
    background-color: var(--ice);
}

.normal {
    background-color: var(--normal);
}

.poison {
    background-color: var(--poison);
}

.psychic {
    background-color: var(--psychic);
}

.rock {
    background-color: var(--rock);
}

.steel {
    background-color: var(--steel);
}

.water {
    background-color: var(--water);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}