@font-face {
    font-family: "PocketMonk";
    src: url(./fonts/PocketMonk.ttf);
}

@font-face {
    font-family: 'Moltors';
    src: url(./fonts/Moltors.ttf);
}

@font-face {
    font-family: 'SlumbersWeight';
    src: url(./fonts/SlumbersWeight.ttf);
}

:root {
    --grass: #5fbd58;
    --bug: #92bc2c;
    --dark: #595761;
    --dragon: #0c69c8;
    --electric: #f2d94e;
    --fairy: #ee90e6;
    --fighting: #d3425f;
    --fire: #dc872f;
    --flying: #a1bbec;
    --ghost: #5f6dbc;
    --ground: #da7c4d;
    --ice: #75d0c1;
    --normal: #a0a29f;
    --poison: #b763cf;
    --psychic: #ff2ca8;
    --rock: #a38c21;
    --steel: #5695a3;
    --water: #539ddf;
    --fire-card: #e03a3a;
    --grass-card: #50C878;
    --electric-card: #fad343;
    --water-card: #1E90FF;
    --ground-card: #735139;
    --rock-card: #63594f;
    --fairy-card: #EE99AC;
    --poison-card: #b34fb3;
    --bug-card: #A8B820;
    --dragon-card: #fc883a;
    --psychic-card: #882eff;
    --flying-card: #87CEEB;
    --fighting-card: #bf5858;
    --normal-card: #D2B48C;
    --ghost-card: #7B62A3;
    --dark-card: #414063;
    --steel-card: #808080;
    --ice-card: #98D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
}

.loading-container {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.loading-icon {
    padding: 3em;
    border-radius: 50%;
    border-right: 3px solid #ffffff;
    border-left: 3px solid #000000a7;
    border-bottom: 3px solid #000000a7;
    border-top: 3px solid #000000a7;
    animation: spin 1s ease-in-out infinite;
}

.loading-text {
    font-size: 2rem;
    text-align: center;
    font-family: 'PocketMonk';
    letter-spacing: .15rem;
    position: relative;
    left: 10px;
}

.region-btns {
    display: flex;
    gap: .5rem;
    max-width: 90%;
    overflow: scroll;
    scrollbar-width: none;
    margin-top: 1rem;
}

.region-btn {
    font-family: 'SlumbersWeight';
    font-style: italic;
    font-size: 1.5rem;
    padding: .25rem 1rem;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
    letter-spacing: .1rem;
}

.region-btn:hover {
    background-color: #bcbbbb;
}

.cards-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    text-align: center;
    width: 95%;
}

.hide {
    display: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 11.5rem;
    height: 330px;
    /*494px*/
    padding-block: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
    font-family: "PocketMonk";
    position: relative;
    transform-style: preserve-3d;
    transition: all .5s ease;
}

.card-container:hover {
    transform: perspective(300px) rotateY(180deg)
}

.front-side, .back-side {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    backface-visibility: hidden;
}

.back-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.pokemon-sprite {
    width: 9rem;
    z-index: 1;
    position: absolute;
}

.pokeball-img {
    width: 9.5rem;
    opacity: .5;
    animation: spin 3s infinite linear;
}

.pokedex-index {
    font-size: 1.12rem;
    background-color: #0000001b;
    padding: .25rem 1rem;
    border-radius: .25rem;
    font-family: "Moltors";
    color: #000000a4;
}

.pokemon-name {
    font-size: 1.6rem;
    letter-spacing: .25rem;
    color: #000000cf;
}

.pokemon-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pokemon-type {
    width: 2.5rem;
    padding: .5rem;
    border-radius: 50%;
}

.grass {
    background-color: var(--grass-card);
}

.grass-type {
    background-color: var(--grass);
    box-shadow: 0px 0px 14px 0px var(--grass);
}

.bug {
    background-color: var(--bug-card);
}

.bug-type {
    background-color: var(--bug);
    box-shadow: 0px 0px 14px 0px var(--bug);
}

.dark {
    background-color: var(--dark-card);
}

.dark-type {
    background-color: var(--dark);
    box-shadow: 0px 0px 14px 0px var(--dark);
}

.dragon {
    background-color: var(--dragon-card);
}

.dragon-type {
    background-color: var(--dragon);
    box-shadow: 0px 0px 14px 0px var(--dragon);
}

.electric {
    background-color: var(--electric-card);
}

.electric-type {
    background-color: var(--electric);
    box-shadow: 0px 0px 14px 0px var(--electric);
}

.fairy {
    background-color: var(--fairy-card);
}

.fairy-type {
    background-color: var(--fairy);
    box-shadow: 0px 0px 14px 0px var(--fairy);
}

.fighting {
    background-color: var(--fighting-card);
}

.fighting-type {
    background-color: var(--fighting);
    box-shadow: 0px 0px 14px 0px var(--fighting);
}

.fire {
    background-color: var(--fire-card);
}

.fire-type {
    background-color: var(--fire);
    box-shadow: 0px 0px 14px 0px var(--fire);
}

.flying {
    background-color: var(--flying-card);
}

.flying-type {
    background-color: var(--flying);
    box-shadow: 0px 0px 14px 0px var(--flying);
}

.ghost {
    background-color: var(--ghost-card);
}

.ghost-type {
    background-color: var(--ghost);
    box-shadow: 0px 0px 14px 0px var(--ghost);
}

.ground {
    background: var(--ground-card);
}

.ground-type {
    background-color: var(--ground);
    box-shadow: 0px 0px 14px 0px var(--ground);
}

.ice {
    background-color: var(--ice-card);
}

.ice-type {
    background-color: var(--ice);
    box-shadow: 0px 0px 14px 0px var(--ice);
}

.normal {
    background-color: var(--normal-card);
}

.normal-type {
    background-color: var(--normal);
    box-shadow: 0px 0px 14px 0px var(--normal);
}

.poison {
    background-color: var(--poison-card);
}

.poison-type {
    background-color: var(--poison);
    box-shadow: 0px 0px 14px 0px var(--poison);
}

.psychic {
    background-color: var(--psychic-card);
}

.psychic-type {
    background-color: var(--psychic);
    box-shadow: 0px 0px 14px 0px var(--psychic);
}

.rock {
    background-color: var(--rock-card);
}

.rock-type {
    background-color: var(--rock);
    box-shadow: 0px 0px 14px 0px var(--rock);
}

.steel {
    background-color: var(--steel-card);
}

.steel-type {
    background-color: var(--steel);
    box-shadow: 0px 0px 14px 0px var(--steel);
}

.water {
    background-color: var(--water-card);
}

.water-type {
    background-color: var(--water);
    box-shadow: 0px 0px 14px 0px var(--water);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(min-width: 768px) {
    .region-btns {
        overflow: hidden;
    }
    .card-container {
        width: 13rem;
    }
}

@media(min-width: 1400px) {
    .region-btns{
        gap: 1rem;
    }

    .region-btn {
        font-size: 2.25rem;
    }

    .card-container {
        width: 19.75rem;
        height: 494px;
        padding-block: 2rem;
    }

    .pokeball-img {
        width: 15rem;
    }

    .pokemon-sprite {
        width: 14rem;
    }

    .pokedex-index {
       font-size: 1.75rem;
    }

    .pokemon-name {
        font-size: 2.75rem;
    }

    .pokemon-type {
        width: 3.25rem;
    }
}